@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.card:hover > img{
transform: scale(1.05,1.04);
transition: .3s;
cursor: pointer;
}
.card-body{
    background-color:#212529 ;
}

.card-body h4{
    color: rgba(222, 192, 23, 0.6);
   font-family: 'Merriweather', serif;

}

.card-body p{
    color: #fff;
   font-family: 'Merriweather', serif;

}