@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav .container-fluid span img{
   height: 10rem;
}

nav .container-fluid .input-text input{
width: 20rem;
font-size: 1.5rem;
font-weight: 500;
}



nav .container-fluid button ion-icon{
    font-size: 2rem;
}

::placeholder{
    font-size: 1.4rem;
}